.main-page {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

  .app-logo {
    width: 200px;  /* Adjust width */
    height: auto;  /* Maintain aspect ratio */
  }
  
  /* Title Section */
  .main-page h1 {
    font-size: 32px;
    color: #2C3E50; 
  }
  
  /* Subtitle Section */
  .main-page .subtitle {
    font-size: 16px;
    color: #7F8C8D;
  }
  
  /* Button Container */
  .main-page .buttons {
    justify-content: center;
    gap: 15px;
    display: flex;
  }
  
  /* Button Styles */
  .main-page .buttons button {
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid transparent;
  }
  
  .main-page .login-button {
    background-color: #2980B9;
    color: white;
    border: 1px solid #2980B9;
  }
  
  .main-page .skip-button {
    background-color: #c5c5c5;
    color: #2C3E50; 
    border: 1px solid #BDC3C7;
  }  